page-acerca {

background-image:url("../assets/img/fondo.png")  ;
background-repeat: no-repeat;
background-position: -10% 25%;
background-size: 160% 110%;

.content-md{
    background-color:transparent;
}
.toolbar-md {
    padding: 0px; 
   
}
}


