.result{
    .ion-card{
        margin-top: 20%;
        background: transparent;
    }
    button{
        margin: 10%;
        width: 80%;
    }  

        background-image:url("../assets/img/fondo.png");
        background-repeat: no-repeat;
        background-position: -10% 25%;
        background-size: 160% 110%;

    .content-md{
        background-color:transparent;
    }
    .card-md{
        background: transparent;
    }
    .item-md{
        background: transparent;
    }
    }